[submodule "frontend"]
	path = frontend
	url = ../MonAgentFrontend.git
	branch = main
[submodule "Server"]
	path = Server
	url = ../MonAgentServer.git
	branch = main
[submodule "AgentCore"]
	path = AgentCore
	url = ../MonAgentCore.git
	branch = main
