[submodule "frontend"]
	path = frontend
	url = https://github.com/jiang357357357/MonAgentFrontend.git
	branch = main
[submodule "Server"]
	path = Server
	url = https://github.com/jiang357357357/MonAgentServer.git
	branch = main
